.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0;
    color: var(--branco);
}

.topicos__titulo {
    font-weight: 300;
    margin-bottom: 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
}

.topicos__itens {
    color: var(--branco);
    margin: 1.5em 0.5em;
}

.topicos__link {
    font-weight: 700;
    background-color: var(--laranja);
    padding: 1em 1.5em;
    color: var(--branco);
    font-size: 0.875rem;
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 2.5em 0;
    }

    .topicos__titulo, .topicos__link {
        font-size: 1.5rem;
    }

    .topicos__itens {
        margin: 3em 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1vw 25vw;
    }

    .topicos__titulo {
        font-size: 2em;
        margin-top: 2em;
    }
}